* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-image: url(wood-bridge-4620942_960_720.jpg); /* Ganti dengan gambar latar belakang yang diinginkan */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.login-container {
    background: rgba(255, 255, 255, 0.85);
    padding: 20px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    max-width: 400px;
    width: 100%;
}

/* .login-box {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 10px;
    text-align: center;
} */

.login-box h2 {
    margin-bottom: 20px;
    color: #333;
    font-family: 'poppins';
    text-align: center;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'poppins';
}

.forgot-password {
    display: block;
    text-align: right;
    margin-bottom: 20px;
    color: #4CAF50;
    text-decoration: none;
    font-size: 14px;
    font-family: 'poppins';
    font-weight: 500;
}

.login-button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    font-family: 'poppins';
}

.login-button:hover {
    background-color: #218838;
}

.or {
    margin: 20px 0;
    color: #4CAF50;
    font-family: 'poppins';
    text-align: center;
    font-weight: 600;
}

.social-login button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    font-family: 'poppins';
    display: flex; 
    align-items: center; 
    justify-content:center; 
}

.fb-login {
    background-color: #3b5998;
    color: white;
    
}

button img {
    width: px;
    height: 20px;
    margin-right: 10px;
}

.google-login {
    background-color: #ffffff;
    color: #333;
    font-weight: 500;
}

.social-login button:hover {
    opacity: 0.9;
}

.signup-text {
    margin-top: 15px;
    color: #333;
    font-family: 'poppins';
    text-align: center;
    font-size: 14px;
    font-weight: 600;
}

.signup-text a {
    color: #4CAF50;
    text-decoration: none;
}
